In [11]:
import numpy as np
import pandas as pd
x = [1,2,3,np.NaN]
x

[1, 2, 3, nan]

In [19]:
x=[[[1,2,3],[4,5,6],[2,3,1]],[['a','d','c'],['d','g','b'],['s','t','y']]]
pd.DataFrame(x)

           0          1          2
0  [1, 2, 3]  [4, 5, 6]  [2, 3, 1]
1  [a, d, c]  [d, g, b]  [s, t, y]

In [26]:
pd.date_range('20191001','20191031',freq='Y')

DatetimeIndex([], dtype='datetime64[ns]', freq='A-DEC')

In [100]:
x = pd.DataFrame(np.random.randn(3,3))

In [110]:
x.drop(1)

          0         1         2
0  0.130308  0.241249  0.138104
2  0.210936  0.187471 -1.089733

In [99]:
x.loc[:,['A','B']]

          A         B
0 -0.249198  0.417151
1  0.700668  1.712256
2 -0.920552 -1.911586

In [131]:
columns = ['A','B','C','D','E']
x = pd.DataFrame(np.random.randn(4,5),columns=columns)
print(type(x))
x.rename(columns={'A':'Name'})

<class 'pandas.core.frame.DataFrame'>

       Name         B         C         D         E
0 -0.955228 -1.034683 -0.688331  3.675908 -0.708839
1 -0.285761 -0.318068 -0.636843  0.222302 -0.686942
2 -1.312152  1.114875 -0.110929 -0.793580 -2.148845
3  0.009281  0.151838 -1.266392 -2.096304 -0.750677

In [141]:
x.groupby(['B']).max().unstack()

   B
A  -1.034683   -0.955228
   -0.318068   -0.285761
    0.151838    0.009281
    1.114875   -1.312152
C  -1.034683   -0.688331
   -0.318068   -0.636843
    0.151838   -1.266392
    1.114875   -0.110929
D  -1.034683    3.675908
   -0.318068    0.222302
    0.151838   -2.096304
    1.114875   -0.793580
E  -1.034683   -0.708839
   -0.318068   -0.686942
    0.151838   -0.750677
    1.114875   -2.148845
dtype: float64