In [51]:
import numpy as np 
import pandas as pd
data = np.array([1,2,3,4,4]);
s = pd.Series(data,index = [100,101,102,103,104])
updatedS = pd.Series(s)
updatedS

100    1
101    2
102    3
103    4
104    4
dtype: int64

In [52]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve multiple elements
print(s[['a','b','c']])

a    1
b    2
c    3
dtype: int64

In [70]:
samplasampleDF = pd.DataFrame(list,index = [100,101,102,103,104])
print(sampleDF[[100,101,102]])

KeyError: '[100 101 102] not in index'

In [80]:
sampleData = ['name','Srikanth','age',22,'location','Hyd']
samplePD = pd.DataFrame(sampleData)
samplePD

          0
0      name
1  Srikanth
2       age
3        22
4  location
5       Hyd

In [81]:
print(sampleData)

['name', 'Srikanth', 'age', 22, 'location', 'Hyd']

In [98]:
sampleData = [['srikanth',22,'Hyderabad'],['kante','22','banglore']]
samplePD = pd.DataFrame(sampleData,columns=['Name','Age','Location'])
samplePD

       Name Age   Location
0  srikanth  22  Hyderabad
1     kante  22   banglore

In [99]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [108]:
PD = pd.DataFrame([],columns=['x','y'])

In [109]:
print(PD)

Empty DataFrame
Columns: [x, y]
Index: []