In [1]:
import pandas as pd

In [14]:
df1= pd.DataFrame({"id":[1,2,3,4],"Name":['srikanth','sangeetha','sirisha','sahi'],"Age":[24,24,26,30]})

df1

   id       Name  Age
0   1   srikanth   24
1   2  sangeetha   24
2   3    sirisha   26
3   4       sahi   30

In [18]:
df1 = pd.DataFrame({
'id':[1,2,3,4,5],
'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
'subject_id':['sub1','sub2','sub4','sub6','sub5']})
df2 = pd.DataFrame(
{'id':[1,2,3,4,5],
'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
'subject_id':['sub2','sub4','sub3','sub8','sub5']})
print(df1)
print(df2)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub8
4   5  Betty       sub5

In [20]:
print(pd.merge(df1,df2,on=['id','subject_id']))

   id  Name_x subject_id Name_y
0   5  Ayoung       sub5  Betty

In [21]:
print(pd.merge(df1, df2, on='subject_id', how='left'))

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   NaN    NaN
4     5  Ayoung       sub5   5.0  Betty

In [22]:
print(pd.merge(df1, df2, on='subject_id', how='right'))

   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   5.0  Ayoung       sub5     5  Betty
3   NaN     NaN       sub3     3   Bran
4   NaN     NaN       sub8     4  Bryce

In [24]:
print(pd.merge(df1, df2, on='subject_id', how='inner'))

   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     5  Ayoung       sub5     5  Betty

In [25]:
df = pd.DataFrame({'num':[1,2,3,4,5,6,7]})
df
df['num'].map(lambda x : 10+x)

0    11
1    12
2    13
3    14
4    15
5    16
6    17
Name: num, dtype: int64

In [29]:
dfm = pd.DataFrame({'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders']})
dfm['Team'].map(lambda x :x+"Team Bro")

0     RidersTeam Bro
1     RidersTeam Bro
2     DevilsTeam Bro
3     DevilsTeam Bro
4      KingsTeam Bro
5      kingsTeam Bro
6      KingsTeam Bro
7      KingsTeam Bro
8     RidersTeam Bro
9     RoyalsTeam Bro
10    RoyalsTeam Bro
11    RidersTeam Bro
Name: Team, dtype: object