In [66]:
import pandas as pd
details = pd.DataFrame({'Name':['srikanth,sangeetha,mom,daddy'],'age':['24,24,45,50']})
detailsLocation = {
    'srikanth':'hyderabad',
    'sangeetha':'hyderabad',
    'mom':'wanaparthy|Kadapa',
    'daddy':'wanaparthy|Kadapa'
}
def detailsLocation(series):
    if series['Name'] == 'srikanth':
        return 'hyderabad'
    elif series['Name'] == 'sangeeth':
        return 'hyderabad'
    elif series['Name'] == 'mom':
        return 'wanaparthy|Kadapa'
    else:
        return 'wanaparthy|Kadapa'

details['location'] = details['Name'].map(str.lower).map(detailsLocation)
details

TypeError: string indices must be integers

In [69]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}
def meat_2_animal(series):
    if series['food'] == 'bacon':
        return 'pig'
    elif series['food'] == 'pulled pork':
        return 'pig'
    elif series['food'] == 'pastrami':
        return 'cow'
    elif series['food'] == 'corned beef':
        return 'cow'
    elif series['food'] == 'honey ham':
        return 'pig'
    else:
        return 'salmon'
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [73]:
lower = lambda x:x.lower()
data['food']=data['food'].apply(lower)
data['animal2'] = data.apply(meat_2_animal,axis='columns')
data

          food  ounces  animal animal2
0        bacon     4.0     pig     pig
1  pulled pork     3.0     pig     pig
2        bacon    12.0     pig     pig
3     pastrami     6.0     cow     cow
4  corned beef     7.5     cow     cow
5        bacon     8.0     pig     pig
6     pastrami     3.0     cow     cow
7    honey ham     5.0     pig     pig
8     nova lox     6.0  salmon  salmon

In [105]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data
import numpy as np
x=data.replace(-999,np.nan,inplace=True)
x

In [125]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = (18, 25, 35, 60, 100)
cats = pd.cut(ages,bins)
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [131]:
details = pd.DataFrame({'Name':['srikanth,sangeetha,mom,daddy'],'age':['24,24,45,50']})
detailsGrouped = details.groupby(details['Name'])
detailsGrouped.mean()

DataError: No numeric types to aggregate

In [139]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df
grouped = df['data1'].groupby(df['key1'])
grouped

In [140]:
5/3

1.6666666666666667

In [148]:
a = pd.date_range(start="20190104",periods=5)
a

DatetimeIndex(['2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07',
               '2019-01-08'],
              dtype='datetime64[ns]', freq='D')

In [169]:
b = pd.DataFrame(np.random.randn(5,4),index=a,columns=['Name','Age','Group','Location'])
b['2019-01-06':'2019-01-08']
b.loc[['Name']

KeyError: "None of [Index(['Name'], dtype='object')] are in the [index]"

In [184]:
b = pd.DataFrame(np.random.randn(5,4),index=a,columns=('ABCD'))
b['2019-01-06':'2019-01-08']
b.loc[:,['Name']]

TypeError: Index(...) must be called with a collection of some kind, 'ABCD' was passed

In [182]:
b.Name>1

2019-01-04    False
2019-01-05    False
2019-01-06     True
2019-01-07     True
2019-01-08    False
Freq: D, Name: Name, dtype: bool

                Name       Age     Group  Location
2019-01-04 -0.628393 -1.405433 -1.043040  1.099275
2019-01-05 -0.543525  0.037943 -1.074313 -0.755979
2019-01-06  1.376301 -1.639510  1.451936 -0.545349
2019-01-07  1.994210  0.559792  0.794092  0.217405
2019-01-08 -0.361300 -0.254194 -0.769395  0.376269

In [190]:
dates=pd.date_range("20190204",periods=5)
b = pd.DataFrame(np.random.randn(5,4),index=a,columns=('ABCD'))
b

TypeError: Index(...) must be called with a collection of some kind, 'ABCD' was passed

In [189]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD')) 
df

                   A         B         C         D
2013-01-01  0.663370  0.123407  0.664615  0.922698
2013-01-02  0.203123 -0.389520  0.686724  0.420263
2013-01-03  0.262597  0.009659 -0.433984  0.369519
2013-01-04  1.992135 -1.027667  1.512313 -0.685831
2013-01-05  0.943774 -0.931536 -0.594931  0.915180
2013-01-06 -0.010846 -1.616599  1.165544  0.400570

In [210]:
dates=pd.date_range("20190204",periods=5)
b = pd.DataFrame(np.random.randn(5,4),index=dates,columns=list('ABCD'))
c=b.copy()
c['E']=['one','two','three','four','five']
b

                   A         B         C         D
2019-02-04  0.769440  0.201851 -1.438271 -0.472585
2019-02-05  0.459415 -0.040104  0.455040 -0.757199
2019-02-06  1.003841  2.381376 -0.197880  0.974974
2019-02-07  0.811485  0.885791 -2.389573  0.750861
2019-02-08 -0.247567  0.673292 -0.466732  1.673039

In [211]:
b.query('A>B')

                   A         B         C         D
2019-02-04  0.769440  0.201851 -1.438271 -0.472585
2019-02-05  0.459415 -0.040104  0.455040 -0.757199

In [213]:
data = pd.DataFrame(
    {'Languages':['Python','Javascript','GO','Swift'],
     'Demand':['High','High','Medium','Low']      
    }
)
data

    Languages  Demand
0      Python    High
1  Javascript    High
2          GO  Medium
3       Swift     Low

In [214]:
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [222]:
data.pivot_table(values='ounces',index="group",aggfunc='count')

       ounces
group
a           3
b           3
c           3