In [66]:
import pandas as pd
details = pd.DataFrame({'Name':['srikanth,sangeetha,mom,daddy'],'age':['24,24,45,50']})
detailsLocation = {
    'srikanth':'hyderabad',
    'sangeetha':'hyderabad',
    'mom':'wanaparthy|Kadapa',
    'daddy':'wanaparthy|Kadapa'
}
def detailsLocation(series):
    if series['Name'] == 'srikanth':
        return 'hyderabad'
    elif series['Name'] == 'sangeeth':
        return 'hyderabad'
    elif series['Name'] == 'mom':
        return 'wanaparthy|Kadapa'
    else:
        return 'wanaparthy|Kadapa'

details['location'] = details['Name'].map(str.lower).map(detailsLocation)
details

TypeError: string indices must be integers

In [69]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}
def meat_2_animal(series):
    if series['food'] == 'bacon':
        return 'pig'
    elif series['food'] == 'pulled pork':
        return 'pig'
    elif series['food'] == 'pastrami':
        return 'cow'
    elif series['food'] == 'corned beef':
        return 'cow'
    elif series['food'] == 'honey ham':
        return 'pig'
    else:
        return 'salmon'
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [73]:
lower = lambda x:x.lower()
data['food']=data['food'].apply(lower)
data['animal2'] = data.apply(meat_2_animal,axis='columns')
data

          food  ounces  animal animal2
0        bacon     4.0     pig     pig
1  pulled pork     3.0     pig     pig
2        bacon    12.0     pig     pig
3     pastrami     6.0     cow     cow
4  corned beef     7.5     cow     cow
5        bacon     8.0     pig     pig
6     pastrami     3.0     cow     cow
7    honey ham     5.0     pig     pig
8     nova lox     6.0  salmon  salmon

In [105]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data
import numpy as np
x=data.replace(-999,np.nan,inplace=True)
x

In [125]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = (18, 25, 35, 60, 100)
cats = pd.cut(ages,bins)
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [131]:
details = pd.DataFrame({'Name':['srikanth,sangeetha,mom,daddy'],'age':['24,24,45,50']})
detailsGrouped = details.groupby(details['Name'])
detailsGrouped.mean()

DataError: No numeric types to aggregate

In [139]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df
grouped = df['data1'].groupby(df['key1'])
grouped

In [140]:
5/3

1.6666666666666667

In [148]:
a = pd.date_range(start="20190104",periods=5)
a

DatetimeIndex(['2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07',
               '2019-01-08'],
              dtype='datetime64[ns]', freq='D')

In [169]:
b = pd.DataFrame(np.random.randn(5,4),index=a,columns=['Name','Age','Group','Location'])
b['2019-01-06':'2019-01-08']
b.loc[['Name']]

KeyError: "None of [Index(['Name'], dtype='object')] are in the [index]"

In [173]:
b = pd.DataFrame(np.random.randn(5,4),index=a,columns=['Name','Age','Group','Location'])
b['2019-01-06':'2019-01-08']
b.loc[[,'Name']]

SyntaxError: invalid syntax (<ipython-input-173-b1814ee75ef7>, line 3)