In [11]:
import numpy as np
import pandas as pd
x = [1,2,3,np.NaN]
x

[1, 2, 3, nan]

In [19]:
x=[[[1,2,3],[4,5,6],[2,3,1]],[['a','d','c'],['d','g','b'],['s','t','y']]]
pd.DataFrame(x)

           0          1          2
0  [1, 2, 3]  [4, 5, 6]  [2, 3, 1]
1  [a, d, c]  [d, g, b]  [s, t, y]

In [26]:
pd.date_range('20191001','20191031',freq='Y')

DatetimeIndex([], dtype='datetime64[ns]', freq='A-DEC')

In [40]:
x = pd.DataFrame(np.random.randn(3,3)).describe()

In [49]:
x

              0         1         2
count  3.000000  3.000000  3.000000
mean  -0.069485  0.094050  0.127049
std    0.607247  1.128739  1.218519
min   -0.550314 -1.134059 -0.602307
25%   -0.410685 -0.401963 -0.576303
50%   -0.271056  0.330133 -0.550300
75%    0.170930  0.708104  0.491727
max    0.612915  1.086076  1.533753

In [62]:
x[[1,2]]

              1         2
count  3.000000  3.000000
mean   0.094050  0.127049
std    1.128739  1.218519
min   -1.134059 -0.602307
25%   -0.401963 -0.576303
50%    0.330133 -0.550300
75%    0.708104  0.491727
max    1.086076  1.533753